/*universal selector*/
*{
  font-family:Courier New;
}

/* Elements selector */
h1{
/*font-family:courier 'Courier New', Courier, monospace;*/
  color:#1b74e4;
}

/* Id selector */
#searchbtn{
  background-color:black;
  color:white;
}

label{
  text-transform:Capitalize;
}

/* Class selector */
.button{
  text-transform:capitalize;
  background-color:aqua;
}

#searchbtn:hover{
  background-color: indianred;
}